.main-wrapper {
    .header {
        margin-bottom: 20px;
    }

    .body-swapper {
        display: flex;
        .menu-side-bar {
            min-width: 260px;
            position: fixed;
            height: 100%;
            background: transparent;
            top: 88px;
        }
        .content {
            box-sizing: border-box;
            width: 100;
            margin-left: 280px;
            margin-right: 20px;
            width: 100%;
            min-height: 300px;
            margin-top: 70px;
            &-title {
                font-size: 20px;
                padding: 15px;
                background: #fff;
                margin-top: 0;
                box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.49);
                -webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.49);
                -moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.49);
            }
        }
    }
}
