.expense-form {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #8d8c8c, $alpha: .4);
    z-index: 999;
    .form-container {
        width: 90%;
        max-width: 500px;
        background: #fff;
        padding: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.65);
        -webkit-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.65);
        -moz-box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.65);
        h2 {
            margin-top: 0;
            font-size: 22;
            font-weight: 500;
        }
        .close-button {
            position: absolute;
            top: -10px;
            right: -10px;
            height: 35px;
            width: 35px;
            background: #f44336;
            border-radius: 50%;
            mat-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }
        form {
            width: 100%;
            mat-form-field {
                width: 100%;
                display: block;
            }
        }
        .form-buttons {
            margin-top: 20px;
            text-align: center;
            button {
                border-style: none;
                padding: 5px 10px;
                border: none;
                cursor: pointer;
                color: #fff;
                border-radius: 4px;
                margin: 5px;
                background: #4769d8;
                font-size: 14px;
                &.reset {
                    background: #f44336 !important;
                }
            }
        }
    }
}